/*
 font-family: "Dosis", sans-serif;
  font-family: "Raleway", sans-serif;
  font-family: "Great Vibes", system-ui;
*/

/* reset */
html {
    scroll-behavior: smooth;
}

body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

.section-title {
    text-transform: uppercase;
    font-size: 55px;
}

.section-description {
    margin: 1.5rem 0;
    font-size: 25px;
    font-family: 'Dosis', sans-serif;
    line-height: 35px;
    letter-spacing: 1px;
}

hr {
    border: 0;
    height: 0;
    box-shadow: 0 0 10px 1px black;
    margin-top: 0.5rem;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

a {
    cursor: pointer;
}

.btn {
    width: 150px;
    padding: 5px 10px;
    background: rgb(34, 45, 79);
    background: linear-gradient(
        90deg,
        rgba(34, 45, 79, 1) 0%,
        rgba(34, 105, 154, 1) 47%,
        rgba(34, 45, 79, 1) 91%
    );
    color: aliceblue;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 20px;
    border: none;
    border-radius: 0.3rem;
}
