/*
 font-family: "Dosis", sans-serif;
  font-family: "Raleway", sans-serif;
  font-family: "Great Vibes", system-ui;
*/

/* reset */

:root {
    /* colors: */
    --main-color: #22699a;
    --second--color: #222d4f;
    --third-color: aliceblue;
    --fourth-color: #353b48;

    /* font sizes */
    --fs-55: 55px;
    --fs-25: 25px;
    --fs-14: 14px;

    /* spaces: */
}

html {
    scroll-behavior: smooth;
}

body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

.section-title {
    text-transform: uppercase;
    font-size: var(--fs-55);
    color: var(--main-color);
}

.section-description {
    margin: 1.5rem 0;
    font-size: var(--fs-25);
    font-family: 'Dosis', sans-serif;
    line-height: 35px;
    letter-spacing: 1px;
    color: var(--second-color);
}

hr {
    border: 0;
    height: 0;
    box-shadow: 0 0 10px 1px black;
    margin-top: 0.5rem;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #030303;
}
