.portfolio .section-title-content {
    text-align: center;
}

.portfolio {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--third-color);
}

.portfolio-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5rem;
    margin-top: 2rem;
    justify-items: center;
}

.gallery > .filter {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}
.gallery > .filter > .option {
    padding: 0.6em 1em;
    font-size: var(--fs-14);
    line-height: 1em;
    background-color: var(--third-color);
    color: var(--fourth-color);
    border: 1px solid #ccc;
    border-radius: 0.4em;
    cursor: pointer;
    transition: all 0.5s;
}
.gallery > .filter > .option.active,
.gallery > .filter > .option:hover {
    background-color: var(--main-color);
    color: var(--third-color);
}

.portfolio .item {
    width: 400px;
    position: relative;
    border-radius: 2rem;
    overflow: hidden;
}

.portfolio .item.hidden {
    display: none;
}

.item img {
    width: 100%;
    height: auto;
    transition: 0.5s ease;
}

.item .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), var(--main-color));
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0.5rem;
    transform: translateY(100%);
    transition: 0.5s ease;
}

.item a {
    text-decoration: none;
    color: var(--third-color);
}

.item:hover .portfolio-layer {
    transform: translateY(0);
}

.portfolio-layer h3 {
    font-size: 2.5rem;
}

.portfolio-layer .portfolio-description {
    font-size: 1.4rem;
    font-weight: 400;
    margin: 1rem 0;
}

.portfolio-layer .tag {
    font-size: var(--fs-14);
    margin-bottom: 1rem;
}

.portfolio-layer .btn {
    cursor: pointer;
    background: var(--fourth-color);
    border: none;
    width: 100px;
}

.btn-container {
    display: flex;
    gap: 1.5rem;
}

@media (min-width: 768px) {
    .portfolio-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .portfolio .item {
        width: 350px;
        height: 300px;
    }
    .portfolio .item img {
        height: 100%;
    }
}

@media (min-width: 992px) {
    .portfolio-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}
