.gallery .section-title {
    text-align: center;
}

.gallery .section-description {
    text-align: center;
}

.portfolio {
    display: grid;
    gap: 30px;
}

.portfolio > .filter {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}

.portfolio > .filter > .option {
    padding: 5px 15px;
    font-size: 16px;
    border-radius: 0.3rem;

    background: #ccc;
    color: aliceblue;
    cursor: pointer;
    border: 1px solid #bebcbc;
    transition: all 0.3s;
}

.portfolio > .filter > .option:hover,
.portfolio > .filter > .option.active {
    background: #22699a;
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.portfolio-box {
    width: 400px;
    position: relative;
    border-radius: 2rem;
    overflow: hidden;
    display: flex;
}

.portfolio-box img {
    width: 100%;
    height: auto;
    transition: 0.5s ease;
}

.portfolio-box:hover img {
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), #22699a);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 0.5rem;
    transform: translateY(100%);
    transition: 0.5s ease;
}

.portfolio-box a {
    text-decoration: none;
    color: aliceblue;
}

.portfolio-box:hover .portfolio-layer {
    transform: translateY(0);
}

.portfolio-layer h3 {
    font-size: 2.5rem;
    color: aliceblue;
}

.portfolio-layer p {
    font-size: 1.4rem;
    font-weight: 400;
    margin: 2rem 0;
    color: aliceblue;
}

.portfolio-layer .btn {
    background: #353b48;
}

.btn-container {
    display: flex;
    gap: 2rem;
}

.more-works {
    display: flex;
    margin-top: 2rem;
    justify-content: center;
    text-align: center;
}

@media (min-width: 768px) {
    .portfolio > .gallery-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 992px) {
    .portfolio > .gallery-list {
        grid-template-columns: repeat(3, 1fr);
    }
}
