.gallery .section-title {
    text-align: center;
}

.gallery .section-description {
    text-align: center;
}

.portfolio {
    display: grid;
    gap: 30px;
}

.portfolio > .filter {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.portfolio > .filter > .option {
    padding: 5px 15px;
    font-size: 16px;
    border-radius: 0.3rem;

    background: #ccc;
    color: aliceblue;
    cursor: pointer;
    border: 1px solid #bebcbc;
    transition: all 0.3s;
}

.portfolio > .filter > .option:hover,
.portfolio > .filter > .option.active {
    background: #22699a;
}

.portfolio > .gallery-list {
    display: grid;
    gap: 20px;
}

.porfolio > .gallery-list > .item {
    width: 100%;
}

.portfolio .item img {
    width: 100%;
}

.portfolio .item > .hover-layer {
}

.portfolio .hover-layer > .icon {
}

.portfolio > .item-description {
}

.portfolio .item-description a {
}
.portfolio .item-description .item-tag {
}

@media (min-width: 768px) {
    .portfolio > .gallery-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 992px) {
    .portfolio > .gallery-list {
        grid-template-columns: repeat(3, 1fr);
    }
}
