header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
}
header > img {
    width: 150px;
}

header > nav {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

header > nav a {
    display: none;
    text-decoration: none;
    color: var(--main-color);
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.3s;
    font-size: 22px;
}

header > nav a:hover {
    color: var(--second-color);
    border-bottom: 1px solid var(--main-color);
    transform: scale(1.2);
}

header i {
    font-size: 30px;
}

header .btn {
    width: 120px;
    font-size: 12px;
}

@media (min-width: 992px) {
    header > nav a {
        display: flex;
    }
    header > .burger-menu {
        display: none;
    }
    header img {
        width: 200px;
    }
}
