header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    background: var(--main-color);
}

header > img {
    width: 150px;
}

header > nav {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

header > nav a {
    display: inline-block;
    text-decoration: none;
    color: var(--third-color);
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.3s;
    font-size: 22px;
}

header > nav a:hover {
    color: var(--second-color);
    border: 1px solid transparent;
    transform: scale(1.2);
}

header .menu-icon {
    display: none;
}

.menu-icon i {
    color: var(--third-color);
    font-size: 30px;
}

header .btn {
    width: 120px;
    font-size: 12px;
}

@media (max-width: 992px) {
    header img {
        width: 100px;
    }
    header nav {
        gap: 1.5rem;
    }
    header > nav a {
        font-size: 18px;
    }
    header .btn {
        width: 110px;
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    header nav {
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background: var(--second-color);
        gap: 0;
        overflow: hidden;
        z-index: 1;
        transition: cubic-bezier(1, 0, 0, 1) 0.5s;
    }
    header nav a {
        padding: 20px;
    }
    header nav a:hover {
        color: var(--main-color);
    }
    header .menu-icon {
        display: block;
    }
}
