/* base */
@import '../base/base.css';
@import '../base/layout.css';
/* 3rd-party */

/* components */
@import '../components/header.css';
@import '../components/button.css';
@import '../components/footer.css';

/* CUSTOM */

/* header start */
/* header end */

/* hero start */
/* hero end */

/* about start */

.about-content {
    text-align: start;
    display: flex;
    align-items: center;
}

.about-content hr {
    margin-left: 0;
}

.about img {
    width: 100%;
    opacity: 0.6;
}

.about img:hover {
    opacity: 1;
    transition: 1s;
}
/* about end */

/* services start */
.experience {
    background-image: url(../../img/background.jpg);
}

.experience .section-title,
.experience .section-description {
    text-align: center;
}

.experience .section-title {
    color: rgb(20, 84, 123);
}

.experience-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    transition: transform 0.3s ease, color 0.3s ease;
}

.experience-card:hover {
    transform: scale(1.2);
    color: rgb(20, 84, 123);
}

.experience-card:hover i {
    color: rgb(20, 84, 123);
}

.experience-card p {
    margin-top: 1rem;
    font-size: 20px;
    font-weight: 500;
}

/* services end */

/* experience start */
/* experience end */

/* gallery start */
/* gallery end */

/* contact start */
/* contact end */

/* footer start */
/* footer end */

@media (max-width: 768px) {
    .about-content {
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    hr {
        margin-left: auto;
        margin-right: auto;
    }
}
