/* base */
@import '../base/base.css';
@import '../base/layout.css';
/* 3rd-party */

/* components */
@import '../components/header.css';
@import '../components/button.css';
@import '../components/footer.css';

/* CUSTOM */

/* header start */
/* header end */

/* hero start */
.hero {
    position: relative;
}

.hero-information {
    position: absolute;
    display: flex;
    gap: 8rem;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    top: 8rem;
}

.hero-information h1 {
    text-align: center;
    color: aliceblue;
    font-family: 'Great Vibes', system-ui;
    font-weight: 100;
    letter-spacing: 1px;
    margin-top: 7rem;
    font-size: 50px;
}

.hero-information .social-aside {
    background: rgba(0, 0, 3, 0.5);
    min-width: 50px;
    max-width: 80px;
}

.hero-information .social-aside ul {
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.social-aside ul li {
    font-size: 30px;
    padding: 0.5rem;
}

.social-aside ul li i {
    color: aliceblue;
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-aside ul li:hover i {
    color: rgb(20, 84, 123);
    transform: scale(1.2);
}

.hero-information .hero-text-container {
    background: rgba(0, 0, 3, 0.5);
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

/* hero end */

/* about start */

.about-content {
    text-align: start;
    display: flex;
    align-items: center;
}

.about-content hr {
    margin-left: 0;
}

.about img {
    width: 100%;
    opacity: 0.6;
}

.about img:hover {
    opacity: 1;
    transition: 1s;
}
/* about end */

/* skills start */
.skills {
    background-image: url(../../img/background.jpg);
}

.skills .section-title,
.skills .section-description {
    text-align: center;
}

.skills .section-title {
    color: rgb(20, 84, 123);
}

.skills-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    transition: transform 0.3s ease, color 0.3s ease;
}

.skills-card:hover {
    transform: scale(1.2);
    color: rgb(20, 84, 123);
}

.skills-card:hover i {
    color: rgb(20, 84, 123);
}

.skills-card p {
    margin-top: 1rem;
    font-size: 20px;
    font-weight: 500;
}

/* skills end */

/* experience start */
/* experience end */

/* gallery start */
/* gallery end */

/* contact start */
/* contact end */

/* footer start */
/* footer end */
@media (max-width: 992px) {
    .hero-information .hero-text-container {
        height: 200px;
    }
    .hero-text-container h1 {
        font-size: 35px;
        margin-top: 5rem;
    }
}
@media (max-width: 768px) {
    .about-content {
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    hr {
        margin-left: auto;
        margin-right: auto;
    }
    .hero-information {
        gap: 3rem;
        top: 3.5rem;
    }
    .hero-information .hero-text-container {
        height: 150px;
    }
    .hero-information .hero-text-container h1 {
        font-size: 30px;
        margin-top: 3rem;
    }
}
